<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link href="~/lib/jquery/jquery.min.js" />
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/content/site.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">
                    <img class="img-fluid" src="~/img/a.jpg" />
                </p>
            </div>
            <div class="col-md-9">
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>
